<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cookie.css">
    <link rel="stylesheet" href="/stylesheets/technology.css">
    <title>Haber Sitesi</title>
</head>
<body>
    <%- include('../views/partials/navbar') %>
    <%- include('../views/partials/currency') %>
    <%- include('../views/partials/breakingNews') %>

    <% if (news && news.length > 0) { %>
      <div class="technology-news-container-title">
        <h4><b>Teknoloji Haberleri</b></h4>
      </div>
        <div class="technology-news-container">
            <% for (let i = 0; i < news.length; i++) { %>
                <div class="technology-news-item">
                    <a href="http://localhost:3000/newDetail/<%= news[i].ID %>">
                      <img class="technology-news-image"src="<%= news[i].ImageUrl %>" alt="Haber Resmi">
                    </a>
                    <h2 class="technology-news-title"><%= news[i].Title %></h2>
                    <p class="technology-news-date">Yayınlanma Tarihi : <%= news[i].PublishDate.toISOString().split('T')[0] %></p>
                    <p class="technology-news-category">Kategori: <%= news[i].CategoryName %></p>
                    <p class="technology-news-author">Yazar: <%= news[i].UserName %></p>
                    <p class="technology-news-source">Kaynak: <%= news[i].SourceName %></p>

                </div>
            <% } %>
        </div>
  <% } else { %>
      <p>Henüz haber bulunmamaktadır.</p>
  <% } %>
    
     <%- include('../views/partials/footer') %>
    <div id="cookie-popup">
      <p>Çerezleri kabul etmek ister misiniz?</p>
      <button class="acceptButton" onclick="acceptCookies()">Kabul Et</button>
      <button class="deniedButton" onclick="deniedCookies()">Reddet</button>
    </div>

  <script src='/javascripts/cookies.js'></script>
  <script src='/javascripts/checkUser.js'></script>
</body>
</html>

